
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
	background-color: bisque;
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: bisque;
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color:rgb(129, 60, 60);
	padding: 20px;

}
.onderwijs{
    border: 3px solid rgb(77, 22, 22);
    border-radius: 10px;
    padding: 5px;
}
.ervaring {
    border: 3px solid rgb(77, 22, 22);
    border-radius: 10px;
    padding: 5px;

}
.overzicht {
    border: 3px solid rgb(77, 22, 22);
    border-radius: 10px;
    padding: 5px;

}
.project {
    border: 3px solid rgb(77, 22, 22);
    border-radius: 10px;
    padding: 5px;

}
.project ul {
    list-style-type: none;

}
.right {
	position: initial;
	background-color:rgb(189, 116, 92);
	padding: 20px;

}
.image, .contact, .skills, .taal, .hobbies, .title,
.overzicht, .ervaring, .onderwijs, .project {
	margin-bottom: 30px;
}
.contact,.skills , .taal , .hobbies {
    margin-left: 8px;
}
.h2 {
	background-color: bisque;
}
